@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    font-family: 'Roboto', sans-serif;
    background: rgb(80,209,86);
    background: linear-gradient(0deg, rgba(80,209,86,1) 0%, rgb(223, 223, 223) 61%);
    height: calc(100vh - 86px);
    justify-content: center;
    align-items: center;
}

.form {
    background-color: rgb(255, 255, 255);
    width: 90%;  
    max-width: 500px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 5px 5px 10px -5px rgb(0 0 0 / 30%);
    text-align: center;
}

.form_title {
    font-size: 2rem;
    margin-top: -.9rem;
    margin-bottom: .5em;
    
}

.form_paragraph {
    font-weight: 300;
}

.form_link {
    font-weight: 400;
    color: black;
}

.form_link:focus {
    color: #83b45f;
}

.text-danger {
    color: red;
}

.form_container {
    display: grid;
    margin-top: 3em;
    gap: 2.5em;
}

.form_group {
    position: relative;
    --color: #5757577e;
}

.form_input {
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: 'Roboto', sans-serif;
}

.form_input:not(:placeholder-shown) ~ .form_line {
    color: #83b45f;
}

.form_input:focus + .form_label,
.form_input:not(:placeholder-shown) + .form_label {
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #83b45f;
}

.form_label {
    color: var(--color);
    cursor: text;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .4s, color .3s;
    font-family: 'Roboto', sans-serif;
}

.form_submit {
    background: #83b45f;
    color: white;
    font-weight: 300;
    font-size: 1rem;
    padding: .8rem 0;
    border: none;
    border-radius: .5em;
}

.form_submit:hover {
    background: #678f4b;
}

.form_line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #81d048;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}

.form_input:focus ~ .form_line,
.form_input:not(:placeholder-shown) ~ .form_line {
    transform: scale(1);
}

@media (max-width: 425px) {
    .form_title {
        font-size: 1.8rem;
    }
}