<!-- Section: Design Block -->
<section class="text-center text-lg-start">
    <style>
      .cascading-right {
        margin-right: -50px;
      }
  
      @media (max-width: 991.98px) {
        .cascading-right {
          margin-right: 0;
        }
      }
    </style>
    <div class="container py-4">
      <div class="row g-0 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card cascading-right" style="
              background: hsla(0, 0%, 100%, 0.55);
              backdrop-filter: blur(30px);
              ">
            <div class="card-body p-5 shadow-5 text-center">
              <h2 class="fw-bold mb-5">¡Registrate!</h2>
              <form (ngSubmit)="register($event)">
                <div class="row">
                    <div class="form-outline">
                        <input class="form-control" type="text" id="username" [(ngModel)]="username" name="username" required>
                        <label class="form-label" for="username">Usuario</label>
                        <div *ngIf="usernameError" class="text-danger">Por favor, completa este campo.</div>
                      </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input class="form-control" type="text" id="firstname" [(ngModel)]="firstname" name="firstname" required>
                      <label class="form-label" for="firstname">Nombre</label>
                      <div *ngIf="firstnameError" class="text-danger">Por favor, completa este campo.</div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input class="form-control" type="text" id="lastname" [(ngModel)]="lastname" name="lastname" required>
                      <label class="form-label" for="lastname">Apellido</label>
                      <div *ngIf="lastnameError" class="text-danger">Por favor, completa este campo.</div>
                    </div>
                  </div>
                </div>
                <div class="form-outline mb-4">
                  <input class="form-control" type="email" id="email" [(ngModel)]="email" name="email" required>
                  <label class="form-label" for="email">Email</label>
                  <div *ngIf="emailError" class="text-danger">Por favor, completa este campo.</div>
                </div>
  
                <div class="form-outline mb-4">
                    <input class="form-control" type="password" id="password" [(ngModel)]="password" name="password" required>
                  <label class="form-label" for="password">Contraseña</label>
                  <div *ngIf="passwordError" class="text-danger">Por favor, completa este campo.</div>
                </div>
  
                <button type="submit" class="btn btn-primary btn-block mb-4">
                    Registrar
                </button>

                <br>
                
                <a routerLink="/login">Si ya tenes una cuenta haz clic aqui</a>

                
              </form>
            </div>
          </div>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0">
          <img src="https://st2.depositphotos.com/1003697/8297/i/450/depositphotos_82978822-stock-photo-supermarket-store-with-vegetables.jpg" class="w-100 rounded-4 shadow-4"
            alt="" />
        </div>
      </div>
    </div>
</section>
